 #init-loading-div {
 	top: 50%;
 	left: 50%;
 	position: absolute;
 	-webkit-transform: translateY(-50%) translateX(-50%);
 	transform: translateY(-50%) translateX(-50%);
 	z-index: 100;
 	overflow: hidden;
 }

 /* #init-loading-div img {
 	height: 73px;
 	width: 73px;
 } */

 /* 定义旋转动画 */
 @keyframes rotate2 {
 	form {
 		transform: rotate(0deg);
 	}



 	/* 初始状态为不旋转 */
 	to {
 		transform: rotate(-360deg);
 	}

 	/* 结束状态为完全旋转一周（360度）*/
 }

 #init-loading-div .xuan_box {
 	background: url(./bg.png) no-repeat center;
 	background-size: contain;
 	height: 73px;
 	width: 73px;
 	overflow: hidden;
 	margin: 0 auto;
 	border-radius: 50%;
 }

 /* 应用旋转动画到元素上 */
 #init-loading-div .xuan {
 	animation: rotate2 2s infinite linear;
 	height: 73px;
 	width: 73px;
 	background: url(./xuan.png) no-repeat center;
 	border-radius: 50%;
 	overflow: hidden;
 }




 #init-loading-div .loading-div-name {
 	text-align: center;
 	font-weight: bold;
 	/* background: #000; */
 	/* filter: contrast(30); */
 	margin-top: 20px;
 	height: 40px;
 }

 #init-loading-div .loading-div-name span {
 	display: inline-block;


 	width: 180px;
 	font-size: 50px;
 	line-height: 30px;
 	color: #333;
 	animation: masked-animation 1s forwards linear;
 	text-shadow: 4px 3px 11px #333;
 	font-weight: bold;
 }

 @keyframes masked-animation {
 	from {
 		letter-spacing: -50px;
 		opacity: 0.1;
 		filter: blur(50px);
 	}

 	to {
 		letter-spacing: 5px;
 		opacity: 1;
 		filter: blur(0px);
 	}
 }